---
import { LoginForm } from "@/components/auth/Login";
import PublicLayout from "@/layouts/PublicLayout.astro";
import { auth, userCanAccessResource } from "@/lib/auth";

const session = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (session?.user) {
	return Astro.redirect("/");
}
---

<PublicLayout>
	<div class="grid h-full place-content-center">
		<LoginForm client:load />
	</div>
</PublicLayout>
