---
import { LoginForm } from "@/components/auth/Login";
import PublicLayout from "@/layouts/PublicLayout.astro";
---

<PublicLayout>
	<div class="grid h-full place-content-center">
		<LoginForm client:load />
	</div>
</PublicLayout>
