---
import { RegisterForm } from "@/components/auth/SignUp";
import PublicLayout from "@/layouts/PublicLayout.astro";
---

<PublicLayout>
	<div class="grid h-full place-content-center">
		<RegisterForm client:load />
	</div>
</PublicLayout>
