---
import Head from "@/components/core/Head.astro";
---

<html class="h-full" lang="en" transition:animate="fade">
	<Head />
	<body class="h-full min-h-screen bg-background font-sans antialiased">
		<slot />
	</body>
</html>
